/* this is a custom css stylesheet */
.header {
	font-size:13px;
}

.labels {
	padding-bottom:5%;
}

.assignments {
	margin-top:1%;
}

.grade-output {
	margin-top:3%;
}

#classNamePercentLabelId {
	margin-left:6%;
}