body{
  margin: 0px;
  font-family: Arial;
}

#topPanel {
  width: 80%;
  margin-left: 10%;
}


#introText {
  line-height: 200%;
  text-align: center;
}

#mainPanel {
  width: 100%;

  left: 10%;
  right: 10%;
  margin-top: 5%;
  margin-bottom: 50%;
}

#classesPanel {
  width: 40%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50%;
  float: left;
}

#gradePanel {
  float: left;
}

#calcButtonId {
  margin-top: 2%;
}



/* --Assignment Labels --*/
#classLabels {
}

#classNameLabel {
  clear: left;
  float: left;
}

#classGradePercentLabel {
  float: left;
  margin-left: 6%;
}

#classGradeLabel {
  float: left;
  margin-left: 14%;
}

/* ----------------- */

#class1, #class2, #class3, #class4 {
  margin-top: 2%;
}

#class1NameTextBox, #class2NameTextBox, #class3NameTextBox, #class4NameTextBox {
  float: left;
}

#class1GradePercentTextBox, #class2GradePercentTextBox,
 #class3GradePercentTextBox, #class4GradePercentTextBox {
  float: left;
  margin-left: 3%;
}

#class1GradeTextBox, #class2GradeTextBox, #class3GradeTextBox, #class4GradeTextBox {
  float: left;
  margin-left: 3%;
}




/*


#classNameLabel {
  font-size: 14px;
  margin-left: 1%;
  position: relative;

}

#gradePercentLabel {
  font-size: 14px;
  margin-left: 2%;
  float: left;
  overflow: hidden;
}
#gradeLabel {
  font-size: 14px;
}
/*
#class1Name {
  padding: 0%;
  margin: 0%;
  margin-left: 2%;
  float: left;
}

#class1GradePercent {
  padding: 0%;
  margin: auto;
  margin-left: 3%;
  float: left;
}

#class1Grade {
  padding: 0%;
  margin: auto;
  margin-left: 3%;
  float: left;
}

#class2Name {
  padding: 0%;
  margin: auto;
  margin-top: 3%;
  overflow: hidden;
  
}

#class2GradePercent {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  margin-left: 3%;
  margin-top: 3%;
  float: left;
}

#class2Grade {
  float: left;
  padding: 0%;
  margin: 0%;
  margin-left: 3%;
  margin-top: 3%;
  overflow: hidden;
}

#class3Name {
  padding: 0%;
  float: left;
  margin-top: 3%;
}

#class3GradePercent {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  margin-left: 3%;
  margin-top: 3%;
  float: left;
}

#class3Grade {
  float: left;
  padding: 0%;
  margin: 0%;
  margin-left: 3%;
  margin-top: 3%;
  overflow: hidden;
}

#class4Name {
  padding: 0%;
  float: left;
  margin-top: 3%;
}

#class4GradePercent {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  margin-left: 3%;
  margin-top: 3%;
  float: left;
}

#class4Grade {
  float: left;
  padding: 0%;
  margin: 0%;
  margin-left: 3%;
  margin-top: 3%;
  overflow: hidden;
}

#class5Name {
  padding: 0%;
  float: left;
  margin-top: 3%;
}

#class5GradePercent {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  margin-left: 3%;
  margin-top: 3%;
  float: left;
}

#class5Grade {
  float: left;
  padding: 0%;
  margin: 0%;
  margin-left: 3%;
  margin-top: 3%;
  overflow: hidden;
}

#class6Name {
  padding: 0%;
  float: left;
  margin-top: 3%;
}

#class6GradePercent {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  margin-left: 3%;
  margin-top: 3%;
  float: left;
}

#class6Grade {
  float: left;
  padding: 0%;
  margin: 0%;
  margin-left: 3%;
  margin-top: 3%;
  overflow: hidden;
}


*/

