body{
  margin: 0px;
  font-family: Arial;
}

#topPanel {
  padding: 0;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}


#introText {
  line-height: 150%;
}

#mainPanel {
  margin: 0%;
  padding: 0%;
  width: 100%;
}

#classesPanel {
  margin: 0%;
  padding: 0%;
  width: 50%;
  margin-left: 10%;
  left: 10%;
  position: absolute;
}

#gradePanel {
  margin: 0%;
  padding: 0%;
  right: 10%;
  position: absolute;
  float: right;
  width: 50%;
  
}
/*
#class1 {
  padding: 0%;
  margin: 0%;
  margin-right: 40%;
}


#classNameLabel {
  font-size: 14px;
  margin-left: 20%;
}

#gradePercentLabel {
  font-size: 14px;
  margin-left: 2%;
}

#gradeLabel {
  font-size: 14px;
}

#class1Name {
  padding: 0%;
  margin: 0%;
  margin-left: 2%;
  float: left;
}

#class1GradePercent {
  padding: 0%;
  margin: auto;
  margin-left: 3%;
  float: left;
}

#class1Grade {
  padding: 0%;
  margin: auto;
  margin-left: 3%;
  float: left;
}

#class2Name {
  padding: 0%;
  margin: auto;
  margin-top: 3%;
  overflow: hidden;
  
}

#class2GradePercent {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  margin-left: 3%;
  margin-top: 3%;
  float: left;
}

#class2Grade {
  float: left;
  padding: 0%;
  margin: 0%;
  margin-left: 3%;
  margin-top: 3%;
  overflow: hidden;
}

#class3Name {
  padding: 0%;
  float: left;
  margin-top: 3%;
}

#class3GradePercent {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  margin-left: 3%;
  margin-top: 3%;
  float: left;
}

#class3Grade {
  float: left;
  padding: 0%;
  margin: 0%;
  margin-left: 3%;
  margin-top: 3%;
  overflow: hidden;
}

#class4Name {
  padding: 0%;
  float: left;
  margin-top: 3%;
}

#class4GradePercent {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  margin-left: 3%;
  margin-top: 3%;
  float: left;
}

#class4Grade {
  float: left;
  padding: 0%;
  margin: 0%;
  margin-left: 3%;
  margin-top: 3%;
  overflow: hidden;
}

#class5Name {
  padding: 0%;
  float: left;
  margin-top: 3%;
}

#class5GradePercent {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  margin-left: 3%;
  margin-top: 3%;
  float: left;
}

#class5Grade {
  float: left;
  padding: 0%;
  margin: 0%;
  margin-left: 3%;
  margin-top: 3%;
  overflow: hidden;
}

#class6Name {
  padding: 0%;
  float: left;
  margin-top: 3%;
}

#class6GradePercent {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  margin-left: 3%;
  margin-top: 3%;
  float: left;
}

#class6Grade {
  float: left;
  padding: 0%;
  margin: 0%;
  margin-left: 3%;
  margin-top: 3%;
  overflow: hidden;
}


*/

