<!doctype html>
<html>
  <head>
    <title>Slideshow Page</title>
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
  </head>

  <body>
    <div id="mainPanel">

      <div id="classesPanel">
        <div id="class1">
          <div id="class1Name">
            <input type="text" name="Class Name">
          </div>
          <div id="class1GradePercent">
            <input type="number" name="Grade Percentage (0-100)">
          </div>
          <div id="class1Grade">
            <input type="number" name="Grade (0-100)">
          </div>
        </div>
      </div>

      <div id="gradePanel">
        <div id="calcButton">
        </div>
        
        <div id="gradeInfo">
          <div id="gradeAInfo">
          </div>
          <div id="gradeBInfo">
          </div>
          <div id="gradeCInfo">
          </div>
          <div id="gradeDInfo">
          </div>
          <div id="gradeEInfo">
          </div>
          <div id="gradeFInfo">
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
